<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Information</title>
    <link rel="stylesheet" href="{% static 'main/css/style.css' %}">
</head>
<body>
    <header>
        <h1>ДЖЕРЕЛО</h1>
    </header>
    <main>
        <div class="container">
            <div class="column">
                <img class="image" src="{% static 'main/img/lengdon.jpg' %}" alt="">
            </div>
            <div class="column">
                <div class="row">
                    <p class="text">Більбао, Іспанія. Роберт Ленгдон, гарвардський професор симвології та релігійної симвології, прибуває в надсучасний музей Гуггенгайма в Більбао, щоб бути присутнім при важливому оголошенні — відкритті, яке «змінить обличчя науки назавжди». Презентацію має провести Едмонд Кірш, сорокарічний мільярдер і футуролог, чиї блискучі високотехнологічні винаходи та сміливі прогнози зробили його всесвітньо відомою особою. Окрім того, Кірш — один із перших студентів Ленгдона в Гарвардському університеті. Здійснивши дивовижний прорив, Едмонд планує дати відповіді на два фундаментальні питання людського існування — «Звідки ми?» і «Куди ми прямуємо?».</p>
                </div>
                <div class="row">
                    <p class="text">У серпні 2018 року роман «Джерело» очолив список бестселерів за версією «Нью-Йорк Таймс» і протягом 23 тижнів утримував свою чільну позицію. Ден Браун відвідав левову частку місць, що описані в романі, зокрема музей Гуггенгайма в Більбао. Окрім того, протягом тривалого часу письменник мешкав в Іспанії. Загалом, Брауну знадобилося чотири роки, аби написати та зібрати інформацію для своєї нової книги. Роман присвячено його матері, яка померла 2017 року. Спочатку тираж складав 2 млн примірників, якщо не брати до уваги перекладів на 42 мови світу.</p>
                </div>
            </div>
        </div>
        <h1>ДЕН БРАУН</h1>
        <img id = 'author' src="{% static 'main/img/author.jpg' %}" alt="">
        <div class="container">
            <div class="column">
                <div class="row">
                    <p id = "text-author1">Ден Браун — сучасний письменник, чиї книги видаються мільйонними тиражами, а на основі них створено три фільми (незабаром вийде четвертий). Книги цього всесвітньо відомого автора обурили багатьох діячів християнської релігії та віруючих людей, їх називали «єретичними» і «безбожними», а за голову письменника була призначена винагорода одним з радикальних індійських католиків. Знайомтесь, Ден Браун — шкільний учитель, який зумів стати «камінцем у черевику» для одних і улюбленим автором для інших.</p>
                </div>
            </div>
            <div class="column">
                <img id = "author2" src="{% static 'main/img/dan-brown.jpg' %}" alt="">
            </div>
        </div>
        <div class="container">
            <p id="text-author1">Більшість книг Дена Брауна написані у жанрі пригодницького роману з елементами трилера та психологічного детективу. Події розгортаються надзвичайно динамічно і не дають читачу нудьгувати. «Фішкою» Брауна (за що він також отримує велику долю критики) є «збитий у міксері фреш» з незаперечних історичних фактів і припущень різного ступеню правдоподібності, приперчених теоріями змови на будь-який смак. У книгах Брауна ми зустрінемось з масонами, ілюмінатами, ассасинами, агентами ЦРУ та Інтерполу. Ми будемо подорожувати по Риму, Парижу та Флоренції, познайомимось із видатними архітектурними пам’ятками та витворами мистецтва.</p>
        </div>

    </main>
</body>
</html>